
<% if movie.poster_image_url != nil and movie.poster_image_url != '' %>
    <%= link_to image_tag(movie.poster_image_url, :height => '50%', :width => '50%'), movie_path(movie) %>
  <% else %>
    <%= link_to image_tag(movie.image, :height => '50%', :width => '50%'), movie_path(movie) %>
  <% end %><h2><%= link_to movie.title, movie_path(movie) %></h2>
<h2>
  <%= movie.review_average %>/10
</h2>

<h3>
  <%= formatted_date(movie.release_date) %>
</h3>

<h4>
  Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes
</h4>

<p>
  <%= movie.description %>
</p>

<hr>

