<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %>
<!-- 
<%= link_to "Login", new_session_path %>

<%= link_to "Sign up", new_user_path %>
 -->
<hr>

<%= form_tag movies_path, method: "GET" do %>
  <h4>Search by:</h4>
  <%= label_tag(:title_or_director, "Title/Director:") %> 
  <%= text_field_tag :title_or_director, nil, placeholder: "Search by title or director" %>
  <!-- 
	<%= label_tag(:title, "Title:") %> 
  <%= text_field_tag :title, nil, placeholder: "Search by title" %>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag :director, nil, placeholder: "Search by director" %>
 	-->
  <%= label_tag(:runtime_in_minutes, "Runtime") %>
  <%= select_tag(:runtime_in_minutes, options_for_select(["Any", "Under 90 minutes", "Between 90 and 120 minutes", "Between 120 and 150 minutes", "Over 150 minutes"])) %>

  <%= submit_tag("Search") %>

<% end %>

<br>
<hr>

<%= render @movies %>

