<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %>
<!-- 
<%= link_to "Login", new_session_path %>

<%= link_to "Sign up", new_user_path %>
 -->
<hr>

<% @movies.each do |movie| %>
	
	<% if movie.poster_image_url != nil and movie.poster_image_url != '' %>
  	<%= link_to image_tag(movie.poster_image_url, :height => '50%', :width => '50%'), movie_path(movie) %>
  <% else %>
		<%= link_to image_tag(movie.image, :height => '50%', :width => '50%'), movie_path(movie) %>
	<% end %>


	<h2>
	<%= link_to movie.title, movie_path(movie) %>
	<!-- Average from movie.rb model -->
	(<%= movie.review_average %>/10)
	</h2>

	<% movie.actors.each do |actor| %>
		<%= link_to actor.full_name, actor_path(actor) %>
	  <%= raw '<br>' unless actor == movie.actors.last %>
	<% end %>

	<!-- Formated date from helper movies_helper.rb -->
	<h3>
	<%= formatted_date(movie.release_date) %>
	</h3>

	<h4>
	Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes
	</h4>

	<p>
	<%= movie.description %>
	</p>

	<hr>

<% end %>