
<%= link_to "Back to all movies", movies_path %><br/>

<%= link_to image_tag(@movie.poster_image_url), movie_path(@movie) %>

<h2>
	<%= @movie.title %> (<%= @movie.review_average %>/10) (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>)
</h2>

<% @movie.actors.each do |actor| %>
  <%= link_to actor.firstname, actor_path(actor)  %>
  <%= link_to actor.lastname, actor_path(actor) %>
  <%= raw '<br>' unless actor == @movie.actors.last %>
<% end %>

<!-- Formated date from helper movies_helper.rb -->
<h3>
	<%= formatted_date(@movie.release_date) %>
</h3>

<h4>
	Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes
</h4>

<p>
	<%= @movie.description %>
</p>




<h3>Reviews of <em><%= @movie.title %></em></h3>
<!-- If logged -->
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.full_name %></small><br/>
  
  <% end %>
  
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>

<!-- Not logged -->
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 

<% end %>





