<%= link_to "Back to main page  ", movies_path %><br/>


<% if current_user.admin %>
  <% @users.each do |user| %>
    <p><%= link_to user.full_name, admin_user_path(user) %> <%= user.email %> 
      <% if user.admin %>
        (admin)
      <% end %>
    </p>
  
  <% end %>
  
<!-- Not logged -->
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> as admin to access this page.</p> 
  <%= link_to "Back to all movies", movies_path %><br/>

<% end %>

